h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  color: white;
}

.parakaboom {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}

.underline1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  color: white;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: white;
}

.underline2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.35rem;
  color: white;
}

footer h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: white;
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}

.bio {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: white;
}

.mail a {
  font-family: 'open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
