body {
  background-color: #0d1e3c;
}

.name h1 {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 90px;
}

.name {
  margin-top: 17vh;
}

.name h2 {
  font-size: 25px;
  color: white;
  padding-top: 10px;
  padding-left: 90px;
}

p {
  font-size: 17px;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: flex-end;
}

.welcome__info {
    margin-top: 10px;
    margin-bottom: 23px;
    display: block;
    width: 60%;
    line-height: 30px;
    font-size: 16px;
    color: white;
    padding-left: 90px;
}

header ul {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-right: 40px;
}

.rubrique {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  -webkit-transition: all 0.8s ease;
}

.rubrique:hover {
  -webkit-transform: scale(1.2);
  text-decoration:line-through;

}

.rubrique a {
  text-decoration: none;
  color: white;
}

.mywork {
  padding: 50px;
}

.mywork ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  height: 350px;
  margin: 15px;
  -webkit-transition: all 0.5s ease;
  opacity: 1;
}

img:hover  {
  -webkit-transform:scale(1.1);
  opacity: 0.7;
}

.img_illu {
  height: 550px;
}

.img_illu:hover {
  -webkit-transform:scale(1);
}

.img_identite {
  height: 380px;
}

.img_identite:hover {
  -webkit-transform:scale(1);
}
