body {
  background-image: linear-gradient(to right, #000428, #004e92);
}

.name h1 {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 90px;
}

.name {
  margin-top: 15vh;
  line-height: 45px;
}

.name h2 {
  font-size: 25px;
  color: white;
  padding-top: 10px;
  padding-left: 90px;
}

video {
  height: 400px;
  margin-left: 20px;
  border: solid 2px white;
}

.descriptionidv {
  font-size: 17px;
  color: white;
  padding-left: 50px;
  width: 35%;
  display: inline-block;
  position: absolute;
  margin-left: 50%;
  margin-top: -300px;
  line-height: 25px;
}

.description {
  font-size: 17px;
  color: white;
  padding-left: 50px;
  width: 30%;
  display: inline-block;
  position: absolute;
  margin-top: 170px;
  margin-left: 50%;
  line-height: 25px;
}

.description2 {
  font-size: 17px;
  color: white;
  padding-left: 50px;
  width: 30%;
  display: inline-block;
  position: absolute;
  margin-top: 720px;
  margin-left: 12%;
  line-height: 25px;
}

.titrage {
  font-size: 30px;
  padding-left: 50px;
  display: inline-block;
  position: absolute;
  color: white;
  margin-left: 50%;
  margin-top: 100px;
}

.titrage2 {
  font-size: 30px;
  padding-left: 50px;
  display: inline-block;
  position: absolute;
  color: white;
  margin-left: 12%;
  margin-top: 640px;
}

.descriptiontip {
  font-size: 17px;
  color: white;
  padding-left: 50px;
  width: 35%;
  display: inline-block;
  position: absolute;
  margin-left: 50%;
  margin-top: -350px;
  line-height: 25px;
}

.welcome__info {
    display: block;
    width: 65%;
    line-height: 28px;
    font-size: 15px;
    color: white;
    padding-left: 90px;
}

header ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 20px;
}

hr {
  width: 92%;
  color: white;
}

.separation {
  width: 55%;
  color: white;
}

.matiere {
  padding-top: 30px;;
  padding-bottom: 20px;
  padding-right: 50px;
}

.matiere h1 {
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}

.snip1555 li {
  display: inline-block;
  list-style: outside none none;
  margin-top: 30px;
  padding: 12px 15px;
  position: relative;
}
.snip1555 li a {
  color: #fff;
  text-decoration: none;
}
.snip1555 li:before,
.snip1555 li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #ffffff;
  position: absolute;
  content: '';
  opacity: 0;
}
.snip1555 li:before {
  top: 0;
  left: 0;
}
.snip1555 li:after {
  bottom: 0;
  right: 0;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before,
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  opacity: 1;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before {
  left: 50%;
}
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  right: 50%;
}

.rubrique {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;

}

.rubrique a {
  text-decoration: none;
  color: white;
}

.mywork {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.myworktyp ul {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.descvinyl {
  font-size: 17px;
  width: 60%;
  text-align: center;
  margin: auto;
  color: white;
  line-height: 25px;
}

.descetiquette {
  font-size: 17px;
  width: 35%;
  text-align: center;
  margin: auto;
  color: white;
  line-height: 25px;
  padding-bottom: 50px;
}

.illu1 {
  height: 500px;
  padding-top: 20px;
  padding-left: 200px;
}

.illu2 {
  height: 535px;
  padding-top: 30px;
  padding-left: 670px;
}

.illu3 {
  height: 400px;
}

.illu4 {
  height: 400px;
}

.myworktypo2 ul {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myworktypo2 li {
  padding: 20px
}

.vinyl {
  padding: 20px;
}

.myworktypo3 ul {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_identite {
  height: 380px;
  max-height: 100%;
}

.portefolio {
  height: 310px;
  margin: 15px;
}

#illustration ul {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

.first {
  display: flex;
  justify-content: flex-start;
}

.base {
  height: 500px;
  padding-left: 150px;
  padding-top: 50px;
}

.base2 {
  height: 400px;
  padding-left: 150px;
  padding-top: 50px;
}

.tiparo {
  height: 500px;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.mywork ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mywork li {
  padding: 20px;
}

.mailaccueil {
  display: flex;
  justify-content: flex-end;
  padding-top: 17vh;
  padding-right: 50px;
}

footer p {
  display: flex;
  justify-content: flex-end;
  padding-top: 7vh;
  padding-right: 50px;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.snip1491 {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  min-height: 340px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #024e92;
}

.snip1491 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1491 img {
  vertical-align: top;
  backface-visibility: hidden;
}

.snip1491 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #000428;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0);
}

.snip1491 h2 {
  margin-top: 35%;
  font-size: 30px;
  color: #ffffff;
}

.snip1491 h3 {
  margin-top: 5%;
  font-size: 17px;
  color: #ffffff;
}

.snip1491 a {
  text-decoration: none;
  color: white;
  margin-top: 4%;
}

.snip1491 a:hover {
  color: white;
  margin-top: 4%;
}

.snip141 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-decoration: none;
}

.snip1491:hover > img,
.snip1491.hover > img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.snip1491:hover figcaption,
.snip1491.hover figcaption {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
