h1 {
  font-family: 'Lato:700', sans-serif;
  font-weight: 500;
}

h2 {
    font-family: 'Lato:700', sans-serif;
    font-weight: 400;
}

h3 {
  font-family: 'Lato:700', sans-serif;
  font-weight: 300;
}

p {
    font-family: 'Lato:300', sans-serif;
    font-weight: 300;
}

li {
    font-family: 'Lato:300', sans-serif;
}
